@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color:#616161;
  -webkit-font-smoothing:antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:#212121;
}

h1 {
  font-size:2rem;
}

p {
  line-height:1.5rem;
  font-size:1rem;
}