@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
}

html, body {
  height:100%;
}

div#__next {
  min-height:100%;
}

body {
  color:#424242;
  -webkit-font-smoothing:antialiased;
  margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:#212121;
}

h1 {
  font-size:2rem;
  width:100%;
  margin:2rem 0 0.7rem;
}

h1 span {
  text-transform:capitalize;
}

div,nav { 
  display:flex;align-items:center;width:100%;
}

.page-header {
  flex-wrap:wrap;
  margin-bottom:2.4rem;
  padding:0 0.5rem;
}

p {
  line-height:1.5rem;
  font-size:1rem;
}

ul {
  padding:0;
  width:100%;
}

li {
  list-style-type:none;
}

a {
  text-decoration:none;
  color:#fff;
  font-weight:500;
  font-size:1rem;
  line-height:1.5rem;
}

.txtbtn { border:0;background:transparent;cursor:pointer;color:#1223c2;font-size:1rem; }